@media print {
	@page {
		size: default;
		margin-top: 0;
		margin-bottom: 0;
	}

	.main-sidebar-nav {
		display: none;
	}

	.top-bar {
		display: none;
	}

	.page-header {
		display: none;
	}

	.align-self-center {
		display: none;
	}

	.card-header {
		display: none;
	}

	.card-footer {
		display: none;
	}

	.price-box .price-amount {
		border-bottom: 0px;
		font-size: 40px;
		line-height: 40px;
		font-weight: 700;
		margin: 0 auto;
		color: #000000 !important;
	}

	.display-awal {
		margin: 0 auto;
		text-align: center;
		margin-bottom: 30px;
		color: #000000 !important;
	}

	.lr {
		margin: 0 auto;
		display: inline-block;
	}

	table {
		width: 0%;
	}

	.hide {
		display: none;
	}

	.footer {
		display: none;
	}
}

.display-awal {
	text-align: center;
	margin-bottom: 30px;
}

.table-pendaftaran {
	margin: 0 auto;
}
